:root {
  --420-font-family: "DynaPuff";

  --420-c-red-1: #f66f81;
  --420-c-yellow-1: #f9b44e;
  --420-c-green-1: #3dd68c;

  --420-hero-font-size: 4rem;
  --420-hero-line-height: 1;

  --420-doc-h1-font-size: 2rem;
  --420-doc-h1-line-height: 1.25;
  --420-doc-h1-margin-bottom: 0.5em;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    180deg,
    var(--420-c-red-1),
    var(--420-c-yellow-1),
    var(--420-c-green-1)
  );
  --vp-home-hero-image-background-image:
    linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 50%),
    linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%),
    url("/rhysgog-vista.jpeg");
}

@media (min-width: 640px) {
  :root {
    --420-hero-font-size: 6rem;

    --420-doc-h1-font-size: 3rem;
  }
}

@media (min-width: 960px) {
  :root {
    --420-hero-font-size: 10rem;

    --420-doc-h1-font-size: 4rem;
  }
}

.header-anchor {
  display: none;
}

.VPNav {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.VPHero .name {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: var(--420-hero-font-size);
  line-height: var(--420-hero-line-height);
}

.VPHero .heading {
  color: #dfdfd6;
}

.VPHero .tagline {
  color: #98989f;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  font-family: var(--420-font-family);
}

.vp-doc h1 {
  font-size: var(--420-doc-h1-font-size);
  line-height: var(--420-doc-h1-line-height);
  margin-bottom: var(--420-doc-h1-margin-bottom);
}
